nav {
  display: flex;
  padding-inline: 6.5rem;
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 2.6rem;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-left: auto;
  padding-inline: 2.5rem;
  color: #6776ff;
}

.dropdown::after {
  content: '⌄';
  margin-left: 0.2rem;
}

.expander {
  display: none;
  outline: none;
  border: none;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
}

.expander > svg {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .expander {
    display: block;
  }

  nav {
    padding-inline: 2rem;
  }
}
