nav {
  display: flex;
  padding-inline: 6.5rem;
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 2.6rem;
}

.desktop-nav {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-left: auto;
  padding-inline: 2.5rem;
  color: #6776ff;
}

.dropdown::after {
  content: '⌄';
  margin-left: 0.2rem;
}

.expander {
  display: none;
  outline: none;
  border: none;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
}

.expander > svg {
  width: 2rem;
  height: 2rem;
}

.mobile-nav {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .expander {
    display: block;
    z-index: 30;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-inline: 2rem;
    position: fixed;
    align-items: center;
    text-align: left;
    color: #6776ff;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 20;
    transition: transform 500ms ease, opacity 500ms ease;
    transform: translateY(-100%);
    opacity: 0;
  }

  .mobile-nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 10rem;
  }

  nav {
    padding-inline: 2rem;
  }
}
