.App {
  min-height: 100vh;
}

.App::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(128 255 219 / 0.2);
  clip-path: polygon(0% 0%, 100% 0%, 100% 28rem, 0% 35rem);
  z-index: -1;
}

.dotshor {
  position: absolute;
  top: 30.5rem;
  left: 17.5vw;
  z-index: -1;
}

.dotsver {
  position: absolute;
  top: 10rem;
  right: 23.5vw;
  z-index: -1;
}

.central-container {
  padding-inline: 2rem;
  margin-top: 15rem;
}

.quiz {
  max-width: 800px;
  min-height: 350px;
  background: linear-gradient(to right, #6776ff, #80ffdb 118%);
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  display: flex;
  margin-inline: auto;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .dotshor {
    display: none;
  }
}
