.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  font-size: 0.875rem;
}

.container > * {
  flex: 1;
  padding: 1.5rem;
}

.container > *:not(:last-child) {
  background: #fff;
}

.container > *:nth-child(even) {
  background: #e6fff8;
}

.top_section {
  display: flex;
  align-items: center;
}

.bottom_section {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
}

.questionContainer {
  display: grid;
  overflow-x: hidden;
}

.question {
  font-size: 1rem;
  transition: transform 0.5s ease;
}

.answer_container {
  flex: 2;
}

.answer {
  padding: 0.5rem;
  width: 60%;
  min-width: 15rem;
  border: none;
  flex-grow: 1;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.solution {
  width: max-content;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.solution > p {
  width: max-content;
}

@media (max-width: 1024px) {
  .solution {
    justify-content: flex-start;
  }

  .answer {
    width: 100%;
  }
}
